/* Colores alternativos */
$fondoAlt: #572434;
$fondoBotonAlt: #793445;
$gradientFinalAlt: #790112;
$colorTituloAlt: #975667;

/* Colores principales */
$fondo: #242434;
$fondoBoton: #343445;
$gradientFinal: #010112;
$colorTitulo: #898990;

@mixin condicional($color1,$color2) {
	@if $Design == 1 {
		background-color: $color1;
	} @else {
		background-color: $color2;
	}
}

/* Si $Design está en "1" tiene el diseño tradicional, en otro valor tiene el diseño alternativo */
$Design: 1;

*{
	margin:0;
	padding:0;
}

body{
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
	color:#eee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-weight: 300;
	font-size: 14px;
	margin: 0 auto;
}

@media all and (min-width: 1200px){
	body{
		width: 1200px;
	}
}

.carousel-caption{
	@include condicional($fondo, $fondoAlt);
	opacity: 0.7;
	border-radius:5px;
}

#header{
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@if $Design == 1 {
		background-image: linear-gradient(to bottom,#000000,$gradientFinal);
	} @else {
		background-image: linear-gradient(to bottom,#000000,$gradientFinalAlt);
	}

	.logo{
		padding-left: 30px;
	}

	.logo:hover{
		transform:scale(1.02);
	}
}


#main{
	flex-grow: 1;
	@include condicional($fondo, $fondoAlt);

	.formularioCompra{
		border-color: #000000;
		border-radius: 10px;
		border-width: 1px;
		border-style: solid;

		justify-content: space-around;
		align-items:center;

		text-align: center;

		margin: 2% 3% 2% 3%;

		display:flex;
		flex-direction: row;

		input{
			width: 90% !important;
			height: 90% !important;
			font-size: 14px;
			text-align: center;
			margin: auto;
			margin-top: -6px;
			margin-bottom: 8px;
		}
	}

	.btnEnviar{
		width: 100%;
		@include condicional($gradientFinal, $gradientFinalAlt);
		margin-bottom:5px;
		border-color: #000000;
		border-radius:20px;
	}

	.btnEnviar:hover{
		@include condicional($fondo, $fondoAlt);
	}

	.banner{
		text-align:center;
		max-width: 1024px;
	}

	.contenedorItem{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;

		.item{
			border-color: #000000;
			border-radius: 10px;
			border-width: 1px;
			border-style: solid;

			justify-content: space-around;
			align-items:center;

			height: 200px;
			width: 350px;

			margin: 2% 3% 2% 3%;

			display:flex;
			flex-direction: row;

			img{
				border-radius: 10px;
				animation-duration: 2s;
				animation-name: aparecer;
				height: 180px;
				margin-left: 10px;
			}
		}

		.itemCarrito{
			border-color: #000000;
			border-radius: 10px;
			border-width: 1px;
			border-style: solid;

			justify-content: space-around;
			align-items: center;

			height: 130px;
			width: 220px;

			margin: 2% 3% 2% 3%;
			display:flex;
			flex-direction: row;

			img{
				border-radius: 10px;
				animation-duration: 2s;
				animation-name: aparecer;
				height: 100px;
				margin-left: 10px;
			}
		}

		.imagenPrincipal{
			max-width: 200px;
		}
	}

	.contenedorCarrito{
		display:flex;
		flex-direction: column;
		justify-content:first baseline;
		flex-wrap: wrap;
		align-items: initial;
		min-height: 100%;
	}

	.modalOscuro{
		background-color: $gradientFinal;
		@include condicional($gradientFinal, $gradientFinalAlt);
		border-radius: 20px;
	}

	.btnTienda{
		width: 90%;
		@include condicional($gradientFinal, $gradientFinalAlt);
		margin-bottom:5px;
		border-color: #000000;
		border-radius:20px;
		font-weight: 300;
		font-family: 'Dancing Script', cursive;
	}

	.btnTienda:hover{
		@include condicional($fondo, $fondoAlt);
	}

	.btnCantidad{
		width: 40px;
		height: 40px;
		@include condicional($gradientFinal, $gradientFinalAlt);
		border-color: #000000;
		border-radius:20px;
		margin-left:5px;
		margin-right:5px;
	}

	.btnCantidad:hover{
		@include condicional($fondo, $fondoAlt);
	}

	.fila{
		justify-content: space-around;
		//align-items: center;

		width: 100%;

		display:flex;
		flex-direction: row;

		flex-wrap: wrap;

	}




/* Anulo los efectos de botones de Bootstrap para este botón */
	.botonOscuro{
		background-color: transparent;
		border-width: 0px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		width: 100%;
	}

	.botonOscuro:hover{
		@include condicional($fondoBoton, $fondoBotonAlt);
	}

	.tarjetaChica{
		width: 12rem;
		background-color: #333333;
		border-radius: 10px;
		margin-bottom:10px;
	}

	.mapa{
		left: 0;
	  	top: 0;
	  	width: 100%;
	}
}


#footer{
	@if $Design == 1 {
		background-image: linear-gradient(to top,#000000,$gradientFinal);
	} @else {
		background-image: linear-gradient(to top,#000000,$gradientFinalAlt);
	}

	.textoCentrado{
		text-align: center;
	}
}

$redes: (
        facebook: url("../img/icon_facebook.png"),
        instagram: url("../img/icon_instagram.png"),
        whatsapp: url("../img/icon_whatsapp.png")
);

@each $red, $imagen in $redes {
   .btn--#{$red} {
        background-image: $imagen;
        width: 25px;
        height: 25px;
    	background-size: cover;
    	display: inline-block;
   }
}

.Texto-0{
	font-family: 'Open Sans', sans-serif;
	color:#eee;
	font-weight: 300;
	font-size: 14px;;
}


@for $i from 1 through 6 {
    .Texto-#{$i} {
	  	font-size: $i * 6px;
		@if $Design == 1 {
			color: $colorTitulo;
		} @else {
			color: $colorTituloAlt;
		}
		font-family: 'Dancing Script', cursive;
		font-weight: 400;
		margin-top: $i * 3px;
		margin-right: 0;
		margin-bottom: $i * 3px;
		margin-left: 0;
	}
}

.error{
	color:red;
}

@media all and (min-width: 480px){
	@for $i from 1 through 6 {
	    .Texto-#{$i} {
		  	font-size: $i * 6px;
		}
	}
}

@for $i from 1 through 4 {
    .banner#{$i} {
	background-image: url("../img/banner#{$i}_mbl.png");
	width: 100%;
	min-height: 250px;
	background-size: cover;
	background-position:center;
	}
}

@for $i from 1 through 4 {
	@media all and (min-width: 500px){
		.banner#{$i} {
			background-image: url("../img/banner#{$i}.png");
			min-height: 450px;
		}
	}
}

@keyframes aparecer{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.textoCentrado{
	text-align: center;
}

.contenidoCentrado{
	display:flex;
	justify-content: center;
	margin: 0% 20px 0% 20px;
}

.negrita{
	font-weight: 700;
}
